body {
    background-color: #FBFFDC;
}
.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50%;
    float: left;
}
.container h4{
    display: none;
}
.chat-1{
    padding-left: 120px;
    display: flexbox;
}

/*WRAPPER*/
.wrapper{
    margin:5px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1; 
    text-align: justify;
    margin: 3px;
}

.chat-1 .mes-1{
    background-color: #D0F5BE;
    border-radius: 20px;
    width: 95px;
    height: auto;
    padding: 15px;
    justify-content: center;
    font-size: 14px;
}
.chat-1 .mes-2{
    background-color: #D0F5BE;
    border-radius: 20px;
    width: 600px;
    height: auto;
    padding: 15px;
    justify-content: center;
    font-size: 14px;
}
.chat-1 .mes-3{
    background-color: #D0F5BE;
    border-radius: 20px;
    width: 700px;
    height: auto;
    padding: 15px;
    justify-content: center;
    font-size: 14px;
}
.chat-1 .mes-4{
    background-color: #D0F5BE;
    border-radius: 20px;
    width: 320px;
    height: auto;
    padding: 15px;
    justify-content: center;
    font-size: 14px;
}
.mes-5{
    background-color: #D0F5BE;
    border-radius: 20px;
    width: 250px;
    height: auto;
    padding: 10px;
    justify-content: center;
    font-size: 14px;
    margin-top: -60px;
    margin-left: -20px;
}
/*Button*/
.btn-link{
    animation-name: explore;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 5;
}
@media screen and (max-width:480px){
    .container h4{
        display: block;
        padding-left: 100px;
        padding-top: 50px;
        font-size: 12px;
        animation-name: explore;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-iteration-count: 5;
    }
    .chat-1{
        display: inline;
    }
    .chat-1 .mes-1{
        margin-top: 10px;
    }
}
/*ANIMATION*/
@keyframes explore{
    from {color: red;}
    to {color: white;}
    0% {bcolor: red;}
    10% {color: white;}
    20% {color: red;}
    30% {color: white;}
    40% {color: red;}
    50% {color: white;}
    60% {color: red;}
    70% {color: white;}
    80% {color: red;}
    90% {color: white;}
    100% {color: red;}
}